* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Urbanist", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgb(68, 215, 182);
  background: linear-gradient(
    90deg,
    rgba(68, 215, 182, 1) 34%,
    rgba(24, 24, 24, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.container {
  display: grid;
  grid-template-columns: 0.9fr 3.5fr 10fr;
  grid-template-areas: "right left center";
  height: 90vh;
  width: 95vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

span {
  font-weight: 300;
}
